.wrapper {
    background-color: white;
    height: 100%;
}

.map__container{
    width: 500px;
    height: 500px;
    margin: auto;
}

.map_container{
    width: 100%;
    height: 300px;
    margin: auto;
}