@tailwind base;
@tailwind components;
@tailwind utilities;

.pointer {cursor: pointer;}
body {
    font-family: "Nunito", sans-serif;
}

input{
    outline: none;
}

.rdrMonth{
    width: 100% !important;
}

.rdrCalendarWrapper{
    width: 100% !important;
    font-size: 12px !important;
}